h1{
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki; 
    text-align: center;
    height: 200px;
}

h2{
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
